html {
  height: 100%;
}

body {
    color: #fff;
    background: #111; 
    transition: color 0.5s, background-color 0.5s;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 15px; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden; /* Dirty, but for some reason HTML overflows at the bottom */
  }

a {
  color: #00ccff;
}
a:visited {
  color: #00f7ff;
}