html {
  height: 100%;
}

body {
    color: var(--text-main);
    background: var(--background-1); 

    transition: 200ms;

    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
  }

a {
  color: var(--color-a);
}
a:visited {
  color: var(--color-a-visited);
}