@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --background-primary: #181818;
    /* #36393f = primary */
    --background-secondary: #141414; 
    /* #2f3136 = secondary */
    --background-secondary-alt: #131313;
    --background-tertiary: #101010;
    
    /* "new unread" */
    --background-accent: #252525;

    /* #18191c; = floating */
    --background-floating: #0b0c0e;
    
    /* dont remember */
    --brand-experiment-560: #d97245;
    
    /* prob a lot of things (buttons etc) */
    --brand-experiment: #d97245;
    
    /* checks thingys in options */
    --control-brand-foreground: #d97245;

    /* gif hover */
    --brand-experiment-80a: #d97145c0; 

    /* gif favorite hover */
    --brand-experiment-95a: #d97145e0; 

    /* "join server" hover */
    --brand-experiment-530: #d97145e0; 

    /* loading cubes */
    --brand-experiment-400: #d97245;
    
    /* "invite people" */
    --brand-experiment-360: #d97245;

    /* top left search thingy(set as secondary) */
    --deprecated-quickswitcher-input-background: #00000000; 

    /* button click hold */
    --brand-experiment-600: #aa5835;

    /* channel mention color */
    --brand-experiment-200: #fbc074;

    --text-link: #d97245;

    /* typing area */
    --channeltextarea-background: #101010;

    /* Channel color */
    --channels-default: #999;

    /* Global font for titles */
    --font-display: 'Quicksand',Helvetica,Arial,sans-serif;

}
/* Theme not meant to be used in light mode,
adding this just for the "add server" popup which uses
light mode variables */
.theme-light {
    --background-primary: #181818;
    --background-secondary: #141414; 
    --background-secondary-alt: #131313;
    --text-normal: #DDD;
    --header-primary: #FFF;
    --text-link: #d97245;
    --header-secondary: #888;
    --deprecated-text-input-bg: #111;
}

/* checkboxes for top right */
.theme-dark {
    --control-brand-foreground: #d97245;
}

/* POWERCORD SECTION */
.theme-dark {
    --toast-background: #181818 !important;
    --toast-header: #141414 !important;
    --toast-contents: transparent !important;
    --toast-border: transparent !important;  
}

.powercord-toast[data-toast-type=info] .icon {
    color: var(--accent-lighter) !important;
}
.progressBar-1T6LYX {
    background: var(--accent-lighter) /* fuck gradients */
}
/* END POWERCORD SECTION */


/* buy nitro gift screen */
.theme-dark .root-g14mjS {
    background-color: var(--background-secondary);
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}
.theme-dark .footer-31IekZ {
    background-color: var(--background-secondary);
    box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}

/* gif screen border */
.theme-dark .focused-q9B2e4:after, .theme-dark .result-3OpoO7:hover:after {
    box-shadow: inset 0 0 0 2px var(--accent-lighter),inset 0 0 0 3px var(--background-secondary);
}
/* gif farovite hover */
.theme-dark .categoryFadeBlurple-1HuV1x:hover, .theme-light .categoryFadeBlurple-1HuV1x:hover {
    background-color: transparent;
}

/* "preview" button in accesibility settings */
.lookFilled-yCfaCM.colorBrandNew-2-gGsS,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover {
    background-color: var(--accent-lighter);
}
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:active {
    background-color: var(--accent-active);
}

/* protip in top left search */
.protip-1jXzAl {
    padding: 10px 0;
    border-top: none;
}

/* seach on top right */
.theme-dark .container-2McqkF {
    background-color: var(--background-primary)
}
.theme-dark .option-2KkUJO:after {
background: transparent; /* remove weird gradient */
}
/* header of search on top right */
.theme-dark .focused-2FU0YH {
    background-color: var(--background-secondary)
}

/* Discover page */
.theme-dark .pageWrapper-2PwDoS {
    background-color: var(--background-secondary)
}
/* Discover "explore communities" */
.theme-dark .searchBox-pyIJJj {
    background-color: var(--background-secondary) !important;
}
/* Discover "explore communities" text */
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
    color: #FFF;
}


/* mentions */
.theme-dark .wrapper-1ZcZW- {
    background: rgba(100, 100, 100, 0.2);
}

/* image edit popup footer */
.theme-dark .footer-VCsJQY {
    background-color: var(--background-secondary);
}

/* "new" badge on the wanna join more servers popup (& maybe other) */
.newBadge-2r8BkJ {
    background-color: var(--brand-experiment) !important;
}

/* fancier roles on profile */
.role-2TIOKu {
    transition:all .2s ease-in-out;
    border: solid;
    border-width: 1px 1px 1px 3px !important; /* for some reason not working without important */
    border-radius: 1px 4px 4px 1px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid;
    background: transparent;
    opacity: 0.8;
}
.role-2TIOKu:hover {
    opacity: 1;
    cursor: pointer;
}

.roleCircle-1EgnFN { 
    width: 0;
    height: 0;
}
.roleCircle-1EgnFN::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 101%;
    height: 101%;
    background: inherit;
    opacity: 0.3;
}

/* mentions */
.theme-dark .autocomplete-3NRXG8 {
    background-color: var(--background-secondary);
}
/* mentions hover */
.theme-dark .selected-3H3-RC {
    background-color: var(--background-primary);
}

/* right click menus */
.item-1OdjEX {
    transition:all .1s ease-in-out;
}

/* friends page */
.theme-dark .container-2cd8Mz {
    background-color: var(--background-primary);
}

.headerTop-3GPUSF::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 101%;
    height: 101%;
    background: inherit;
    opacity: 0.3;
}

/* Nitro boost in server dropdown */
[id="guild-header-popout-premium-subscribe"]:hover {
    background-color: #d638d1;
}
[id="guild-header-popout-premium-subscribe"]:active {
    background-color: rgb(151, 37, 147) !important;
}

/* Nitro boost page button */
.lookFilled-yCfaCM.colorWhite-1H92hK {
    background-color: var(--background-primary);
}
.heroCtaContent-3AMZge {
    color: #d638d1;
}

/* "join server" banner */
.notice-12Koq- {
    background-color: var(--brand-experiment);
}

/* remove random useless pading at the right of messages */
.message-2CShn3 {
    padding-right: 0px !important;
}

/* hide useless buttons (english only lmao) */
[aria-label="Send a gift"],
[aria-label="Open GIF picker"],
[aria-label="Open sticker picker"] {
    display: none !important
}

/* doesn't seem to work for me? (resize channels bar)*/
:root { --sidebar-initial-width: 240px; }
.sidebar-1tnWFu {
    resize: horizontal;
    width: var(--sidebar-initial-width);
}

/* ADD SERVER */
.lookBlank-21BCro {
    color: #FFF;
}
div.uploadIcon-2wV7s_ > div > svg > circle {
    fill: var(--brand-experiment);
}


/* Gray buttons */
.lookFilled-yCfaCM.colorGrey-2iAG-B {
    background-color: #353535 !important;
}
.lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
    background-color: #454545 !important;
}
.lookFilled-yCfaCM.colorGrey-2iAG-B:active {
    background-color: #323232 !important;
}

/* Folders in serverlist */
div.listItem-3SmSlK > div:nth-child(2) > div > svg > foreignObject > div > div > div > svg > path {
    fill: var(--brand-experiment);
}


/* FONT PART */

/* msges */
.markup-eYLPri {
    font-family: 'Quicksand',Helvetica,Arial,sans-serif;
}
/* Usernames */
.username-h_Y3Us {
    font-weight: bold;
    font-family: 'Quicksand',Helvetica,Arial,sans-serif;
}

/* vc change server thingy */
.theme-dark .quickSelectPopout-2F0PXw {
    background: var(--background-secondary);
}

/* resize sidebar */
.sidebar-1tnWFu {
    resize: horizontal;
    width: 240px;
    max-width: 240px;
}

.progressBar-1T6LYX {
    background-color: var(--control-brand-foreground) !important;
}